.banner{
    background-image: url(./../images/BannerJapan.jpg);

block-size: auto;
margin-top: auto;  }


footer { text-align: center; }
footer a img{block-size: 50px;
   margin-top: 20px;
}
.piepagina{
   background-image: url(../images/BannerJapan.jpg);
position: fixed;
bottom: 0;
left: 0;
height: auto;
width: 100%;   }