.main .section .estadopedido{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
}
.conocenos{
    text-align: center;
}
.iniciasesion{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.piezas .container{
    margin-top: auto;
    margin-bottom: auto;
}
.destacados{
    block-size: auto;
}  
  .containerpromo .tarjeta img{
    height: 220px;
}